html,
body,
.map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.page-content {
    position: relative;
    height: 900px;
}

.map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.drawer {
    /*width: 370px;*/
    padding: 0 25px;
}

.mdl-navigation {
    padding-left: 0;
}

h2 {

    display: block;
    position: fixed;
    top: 2%;
    left: 45%;
    z-index: 2;
    color: darkslateblue;

}

@media screen and (min-width: 1020px) {
    .drawer {
        width: 370px;
    }
}